<% include partials/header %>

<div class="jumbotron">
  <h1 class="display-3">All Dogs</h1>
  <p class="lead">Lots of good boys to make you go crazy!</p>
  <hr>
  <a class="btn btn-sm btn-primary" href="/dogs/new">Add a new pupper!</a>
</div>

<div class="container-fluid">
  <div class="row">
    <% dogs.forEach(dog => { %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="card mb-3">
          <h3 class="card-header"><%= dog.breed %></h3>  
          <div class="card-body">
            <h5 class="card-title"><%= dog.name %></h5>  
            <h6 class="card-subtitle"><% dog.amount %></h6>
          </div>
          <img src="<%= dog.image %>" alt="" style="max-height: 200px; width: 100%; display:block;">
          <div class="card-body">
            <p class="card-text"><%= dog.description %></p>  
          </div>
          <div class="card-body">
            <a href="/<%= dog.breed %>/<%= dog._id %>" class="card-link">See More</a>  
            <a href="#" class="card-link">Buy Now</a>  
          </div>
          <div class="card-footer">
            <p>Posted: <%= dog.created.toDateString() %></p>  
          </div>
        </div>  
      </div>
    <% }); %>
  </div>
</div>



<% include partials/footer %>