<% include ../partials/header %>

<div class="jumbotron">
  <h1 class="display-4">Our Dogs</h1>
  <p class="lead">Lots of good boys to make you go crazy!</p>
  <hr>
  <a class="btn btn-sm btn-primary" href="/dogs/new">Add a new pupper!</a>
</div>

<div class="container-fluid">
  <div class="row">
    <% dogs.forEach(dog => { %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-3 border-0">
          <img class="gallery" src="<%= dog.image %>" alt="">
          <div class="card-body pt-3 pb-0">
            <h5><%= dog.name %></h5>
            <h6>Submitted by: <%= dog.author.username %></h6>          
          </div>    
          <div class="card-body pt-0 pb-2">
            <a href="/dogs/<%= dog._id %>" class="card-link">See More</a>  
            <a href="#" class="card-link disabledlink">Buy Now</a>  
          </div>
          <div class="card-footer my-0">
            <p>Posted: <%= dog.created.toDateString() %></p>  
          </div>
        </div>  
      </div>
    <% }); %>
  </div>
</div>



<% include ../partials/footer %>